* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    color: #fff;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.navbar {
    width: 100%;
    background: #000;
    padding: 18px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s ease-in-out;
}

.navbar.scrolled {
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  color: red;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 28px;
    align-items: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
}

.nav-links a:hover {
    opacity: 0.7;
}

.download-btn {
    background: red;
    padding: 10px 22px;
    border-radius: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
}

.download-btn:hover {
    background: rgb(200, 0, 0);
}

.burger {
    display: none;
    cursor: pointer;
    font-size: 28px;
}

.hero {
    margin-top: 120px;
    text-align: center;
    padding: 120px 20px;
    background: #2a2a2a;
    height: 1100px;
    background-image: url('../cinema.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px; 
    padding: 50px;
    color: white;
}

.hero h1 {
    font-size: 80px;
    font-weight: 900;
}

.hero h2 {
    font-size: 30px;
    margin-top: 12px;
    font-weight: 300;
}

.hero-sub {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    opacity: 0.85;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 22px;
}

.movie-card {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    transition: 0.3s;
}

.movie-card:hover {
    transform: translateY(-6px);
    background: #333;
}


.about-section {
    padding: 60px 12%;
    background: #1a1a1a;
}

.about-text {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.contact-section {
    background: #1a1a1a;
    padding: 80px 12%;
    text-align: center;
}

.contact-section h2 {
    font-size: 40px;
    font-weight: 800;
}

.contact-sub {
    margin-top: 10px;
    font-size: 20px;
    opacity: 0.7;
}

.contact-form {
    margin-top: 40px;
}

.contact-form .row {
    display: flex;
    gap: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.send-btn {
    background: red;
    padding: 14px 40px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.3s;
}

.send-btn:hover {
    background: rgb(200,0,0);
}


.register-section {
    padding: 90px 12%;
    background: #111;
    text-align: center;
}

.register-section h2 {
    font-size: 42px;
    font-weight: 700;
}

.reg-form {
    max-width: 450px;
    margin: 40px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reg-form input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background: #2b2b2b;
    color: #fff;
}

.password-wrap {
    position: relative;
}

.toggle-pass {
    position: absolute;
    right: 14px;
    top: 13px;
    cursor: pointer;
}

.register-btn {
    background: red;
    padding: 14px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background: rgb(200,0,0);
}

.reg-msg {
    margin-top: 15px;
    font-size: 18px;
}

.scroll-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: red;
    padding: 12px 16px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    display: none;
    font-size: 22px;
}

.scroll-top:hover {
    background: rgb(200,0,0);
}

.cookie-box {
    display: none; 
    background: #fff;
    color: #000;
    padding: 16px 20px;
    border-radius: 10px;
    position: fixed;
    bottom: 25px;
    left: 25px;
    align-items: center;
    gap: 14px;
    font-size: 16px;
    z-index: 1000;
}

.cookie-accept {
    background: red;
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.cookie-accept:hover {
    background: rgb(200,0,0);
}

.footer {
    background: #000;
    padding: 25px;
    text-align: center;
    font-size: 16px;
}


@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        top: 70px;
        background: #000;
        width: 200px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        display: none;
    }

    .nav-links.show {
        display: flex;
    }

    .burger {
        display: block;
    }

    .contact-form .row {
        flex-direction: column;
    }
}
